<div class="container text-center mt-5">
  <div class="error-box">
    <h2 class="error-title">Oops! Something went wrong.</h2>
    @if (error) {
    <p class="error-message">
      {{
        error.message ||
          "An unexpected error has occurred. Please try again later."
      }}
    </p>

    <div>
      <p class="error-details">Error Details:</p>
      <pre class="error-pre">{{ error.details }}</pre>
    </div>
    }

    <button class="btn btn-danger mt-4" (click)="goHome()">
      Go Back to Home
    </button>
  </div>
</div>

<div class="background-effect">
  <img
    src="assets/error-background.jpg"
    alt="Error Background"
    class="img-fluid"
  />
</div>
