<div class="profile-card mb-4">
  <div class="like-icon-overlay" (click)="toggleLike()">
    <div class="heart-container">
      <i
        class="fa fa-heart heart-icon"
        [ngClass]="{ liked: hasLiked() }"
      ></i>
    </div>
  </div>

  <div class="profile-card-header">
    <img
      src="{{ member().photoUrl || './assets/user.png' }}"
      alt="{{ member().knownAs }}"
      class="profile-img"
    />
  </div>
  <div class="profile-card-body">
    <h5 class="profile-name text-center">
      {{ member().knownAs }}, {{ member().age }}
    </h5>
    <p class="profile-location text-center text-muted">
      {{ member().city }}
    </p>
  </div>
  <div class="profile-card-footer text-center">
    <button
      routerLink="/members/{{ member().userName }}"
      class="btn btn-primary btn-animate"
    >
      View Profile
    </button>
    <button class="btn btn-outline-secondary btn-animate">Message</button>
  </div>
</div>
