<div class="container welcome">
  <div class="mx-auto text-cener w-50">
    @if (!registerMode) {
    <h2 class="text-center">
      Welcome to <span>SkillCheck</span>, where tech skills on display!
    </h2>
    <p class="text-center text-lg">
      See what’s possible! Login to view the skills.
    </p>
    <div class="text-center d-flex gap-3 justify-content-center">
      @if (!accountService.currentUser()){
      <button class="custom-button" (click)="registerToggle()">Register</button>
    }
      <a routerLink="/about" class="text-decoration-none">
        <button class="custom-button">About SkillCheck</button>
      </a>
    </div>
    } @else {
    <div>
      <app-register
        [usersFromHomeComponent]="users"
        (cancelRegister)="cancelRegisterMode(false)"
      ></app-register>
    </div>
    }
  </div>

  <div>
    <img
      src="/assets/Profiling-amico.svg"
      alt="landing"
      width="500"
      class="landing-image"
    />
  </div>
</div>
