nav {
  background: white;
  border-bottom: 4px solid #7052c0;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

li a {
  transition: background-color 0.3s ease-in;
  border-radius: 50px !important;
  margin: 0 10px;
  width: 150px;
  text-align: center;
}

.active-nav-item {
  color: #fff !important;
  background-color: #7052c0;
  border-radius: 50px !important;
}

li:hover a {
  background-color: #d0c4ef9c;
  color: black;
}
.dropdown-toggle{
  cursor: pointer;
}
