<div class="container mt-5 pt-5">
  <div class="row">
    <div class="col-md-6">
      <h2 class="text-primary display-4 animate__animated animate__fadeInUp">
        About SkillCheck
      </h2>
      <p class="lead animate__animated animate__fadeIn animate__delay-1s">
        SkillCheck is a personal platform built to showcase the skills I am
        developing in the dynamic fields of <strong>.NET</strong> and
        <strong>Angular</strong>.
      </p>
      <p class="animate__animated animate__fadeIn animate__delay-2s">
        The platform reflects my commitment to mastering full-stack development
        technologies. Here, I invite you to evaluate my progress, provide
        feedback.
      </p>
    </div>
    <div class="col-md-6 text-center">
      <img
        src="/assets/about-image.svg"
        alt="About SkillCheck"
        class="landing-image mt-4"
        width="400"
      />
    </div>
  </div>
</div>
