<div class="row justify-content-center">
  @for (photo of member().photos; track photo.id) {
  <div class="col-md-2 col-sm-12 mt-3 text-center">
    <img src="{{ photo.url }}" alt="photo of user" class="img-thumbnail mb-2" width="150" />
    <div class="text-center">
      <button
        class="btn btn-sm me-1"
        [disabled]="photo.isMain"
        (click)="setMainPhoto(photo)"
        [ngClass]="photo.isMain ? 'btn-success active' : 'btn-outline-success'"
      >
        Main
      </button>
      <button
        class="btn btn-sm btn-danger"
        [disabled]="photo.isMain"
        (click)="deletePhoto(photo)"
      >
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
  }

  <!-- Drag Box Section -->
  <div class="row mt-5 justify-content-center">
    <div class="col-md-6 text-center">
      <h3>Add Photos</h3>
      <div
        ng2FileDrop
        [ngClass]="{ 'nv-file-over': hasBaseDropZoneOver }"
        (fileOver)="fileOverBase($event)"
        [uploader]="uploader"
        class="card bg-light p-5 text-center my-drop-zone"
      >
        <i class="fa fa-upload fa-3x text-muted"></i>
        <p class="mt-3">Drop photos here</p>
      </div>
      <div class="mt-4">
        <button
          type="button"
          class="btn btn-success me-2"
          (click)="uploader?.uploadAll()"
          [disabled]="!uploader?.getNotUploadedItems()?.length"
        >
          <span class="fa fa-upload"></span> Upload All
        </button>
        <button
          type="button"
          class="btn btn-warning"
          (click)="uploader?.cancelAll()"
          [disabled]="!uploader?.isUploading"
        >
          <span class="fa fa-ban"></span> Cancel All
        </button>
      </div>
    </div>
  </div>
</div>
